:root {
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --blue-baby:hsl(200, 100%, 62%);
  --dark-desaturated-cyan-graphic-text: hsl(167, 40%, 24%);
  --dark-blue-photography-text: hsl(198, 62%, 26%);
  --dark-moderate-cyan-footer: hsl(168, 34%, 41%);
  --very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --very-dark-grayish-blue: hsl(213, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

.font1-grande{
  font: 700 3.375rem/1 "Fraunces", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.font1-media{
  font: 700 2.375rem/1 "Fraunces", sans-serif; 
}

.font1-pequena{
font: 700 2rem/1 "Fraunces", sans-serif;
}

.font1-muito-pequena{
  font: 700 1.313rem/1 "Fraunces", sans-serif;
  }

.font2-grande{

}

.font2-media{
  font: 500 1.125rem/1.250 "Barlow", sans-serif;
}

.font2-pequena{
  font: 500 0.9rem/1.250 "Barlow", sans-serif;
}





* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

