main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 525px;
}

main picture img{
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.conteudo-principal a{
  font-family: 'Fraunces', serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  position: relative;
  letter-spacing: 1px;
  color: var(--very-dark-desaturated-blue);
}

.conteudo-principal a::after {
  content: "";
  width: 110px;
  height: 6px;
  position: absolute;
  bottom: -1px;
  left: -5px;
  z-index: -1;
  border-radius: 10px;
}

.conteudo-principal .cor2::after{
  background-color: var(--soft-red);
  
}
.conteudo-principal .cor1::after{
  background-color: var(--yellow);
}


.conteudo-principal{
  display: grid;
  align-content: start;
  padding: 200px 130px 200px 130px;
  gap: 50px;
}

.laranja {
  background-image: url(../imagens/desktop/image-photography.jpg);
}

.cereja {
  background-image: url(../imagens/desktop/image-graphic-design.jpg);
}

.laranja,
.cereja{
background-repeat: no-repeat;
background-size: cover;
text-align: center;
background-position: center top;
display: flex;
flex-direction: column;
justify-content: flex-end;
gap: 20px;
color: var(--very-dark-desaturated-blue);
}

.laranja p,
.cereja p{
padding: 0px 150px 30px 150px;
}


@media (max-width:900px){
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
    max-width: 375px;
    margin: 0 auto;
  }

  main picture img{
    height: 400px;
  }

  .conteudo-principal{
    padding: 60px 20px;
    gap: 50px;
    text-align: center;
  }

  .transform{
    grid-area: 1;
  }

  .laranja p,
  .cereja p{
   padding: 0px 10px 30px 10px;
  }
  
   .conteudo-principal a::after {
    bottom: -1px;
    left: 112.5px;
    z-index: -1;
    border-radius: 10px;
  }

  .laranja {
    background-image: url(../imagens/mobile/image-photography.jpg);
    height: 400px; 
    background-position: top;

  }
  .cereja {
    background-image: url(../imagens/mobile/image-graphic-design.jpg);
    height: 400px;
    background-position: top; 
  }
}



